.card {
  width: inherit;
  background-color: $elementColor3;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  box-sizing: border-box;
  padding: 30px;
  border: 4px solid transparent;
  box-sizing: border-box;
  position: relative;

  &.card_translated {
    pointer-events: none;
    border: 4px solid $elementColor4;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba($color: #ffffff, $alpha: 0.3);
    }

    .card__input {
        color: $elementColor4;
        font-weight: 700;
        box-shadow: 0 0 0 3px #7952b3;
    }
  }

  &__img {
    width: 50%;
    margin-bottom: 20px;
  }

  &__native-translation {
    font-size: 1.2rem;
  }

  &__input {
    display: block;
    width: 80%;
    padding: 5px 10px;
    font-size: 1rem;
    line-height: 1.5;
    color: $textColor1;
    background-color: $elementColor2;
    background-clip: padding-box;
    border: 1px solid $elementColor1;
    box-sizing: content-box;
    border-radius: 3px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:focus {
      outline: 0;
      border-color: #7952b3;
      box-shadow: 0 0 0 3px rgba(121, 82, 179, 0.25);
    }
  }
}
